<div lang="en" th:replace="layout/header" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"> </div>

<div class="container-fluid " >
    <div class="row">

        <!-- ASIDE - LEFT PANEL -->
        <div class="col-sm-12 col-md-3 col-lg-3 aside">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Panel admina</li>
                </ol>
            </nav>

            <div class="list-group-flush">
                <a href="/admin/home" class="list-group-item list-group-item-action">Panel</a>
                <a href="/admin/add_employee" class="list-group-item list-group-item-action">Dodaj pracownika</a>
                <a href="/admin/all_users" class="list-group-item list-group-item-action active">Lista pracowników</a>
                <a href="#" class="list-group-item list-group-item-action">Księgowość</a>
                <a href="#" class="list-group-item list-group-item-action">Rejestracja</a>
                <a href="#" class="list-group-item list-group-item-action">Ustawienia</a>
            </div>

        </div><!--/ ASIDE - LEFT PANEL -->

        <!-- CONTENT - RIGHT PANEL -->
        <div class="col-sm-12 col-md-9 col-lg-9 content">
            <h1> PANEL ADMINISTRATORA</h1>
            <div class="panel-group" style="margin-top:40px">
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>

            <form autocomplete="off" action="#" th:action="@{/admin/all_users}"
                  th:object="${user}" method="get" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" placeholder="Podaj imię, nazwisko lub email"
                               class="form-control" name="search"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Znajdź pracownika</button>
                    </div>
                </div>
            </form>

            <div class="form-group">
                <div class="col-sm-9">
                    <a href="/admin/all_users">
                        <button type="submit" class="btn btn-primary btn-block">Wyświetl wszystkich pracowników</button>
                    </a>
                </div>
            </div>

            <!--lista userow oraz form dodawanie-edytowanie-->
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Rola</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${listOfUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.RoleId}"></td>
                        <td><a href="#" th:href="@{|edit/${user.id}|}">Modyfikuj</a></td>
                        <td><a href="#" th:href="@{|delete/${user.id}|}">Usuń</a></td>
                    </tr>
                </tbody>
            </table>
        </div><!--/ CONTENT - RIGHT PANEL -->

    </div>
</div>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>