<div lang="en" th:replace="layout/header" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"> </div>

<div class="container-fluid " >
    <div class="row">

        <!-- ASIDE - LEFT PANEL -->
        <div class="col-sm-12 col-md-3 col-lg-3 aside">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Panel admina</li>
                </ol>
            </nav>

            <div class="list-group-flush">
                <a href="/admin/home" class="list-group-item list-group-item-action">Panel</a>
                <a href="/admin/add_employee" class="list-group-item list-group-item-action">Dodaj pracownika</a>
                <a href="/admin/all_users" class="list-group-item list-group-item-action active">Lista pracowników</a>
            </div>

            <div class="aside__currentUser">
                <p>Zalogowany jako:	<span class="badge badge-primary" th:utext="${userName}"></span></p>
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-outline-danger btn-sm" name="registration"	type="Submit">Wyloguj</button>
                </form>
            </div>

        </div><!--/ ASIDE - LEFT PANEL -->

        <!-- CONTENT - RIGHT PANEL -->
        <div class="col-sm-12 col-md-9 col-lg-9 content">
            <h1> PANEL ADMINISTRATORA </h1>
            <h2> Edycja pracownika </h2>

            <ul>
                <li>1 - ADMINISTRATOR</li>
                <li>2 - REJESTRUJĄCY</li>
                <li>3 - ADWOKAT</li>
                <li>4 - KSIĘGOWA</li>
            </ul>

            <form action="#" method="POST" th:action="@{/admin/edit/}+@{user.id}" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Imię"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Nazwisko" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Hasło" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <!-- <div class="form-group">
                     <div class="col-sm-9">
                         <input type="text" th:field="*{RoleId}" placeholder="Rola"
                                class="form-control" />
                         <label  th:if="${#fields.hasErrors('RoleId')}" th:errors="*{RoleId}"
                                 class="validation-message"></label>
                     </div>
                 </div> -->

                <div class="form-group">
                    <div class="col-sm-9">
                        <label  th:if="${#fields.hasErrors('RoleId')}" th:errors="*{RoleId}"
                                class="validation-message"></label>
                        <select th:field="*{RoleId}"  class="form-control">
                            <option value="1">Administrator</option>
                            <option value="2">Rejestrujący</option>
                            <option value="3">Adwokat</option>
                            <option value="4">Księgowa</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Edytuj użytkownika</button>
                    </div>
                </div>
            </form>
        </div><!--/ CONTENT - RIGHT PANEL -->

    </div>
</div>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>