<div lang="en" th:replace="layout/header" xmlns:color="http://www.w3.org/1999/xhtml"
     xmlns:color="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml"> </div>

<div class="container-fluid " >
    <div class="row">

        <!-- ASIDE - LEFT PANEL -->
        <div class="col-sm-12 col-md-3 col-lg-3 aside">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Panel admina</li>
                </ol>
            </nav>

            <div class="list-group-flush">
                <a href="/admin/home" class="list-group-item list-group-item-action">Panel</a>
                <a href="/admin/add_employee" class="list-group-item list-group-item-action">Dodaj pracownika</a>
                <a href="/admin/employee_view" class="list-group-item list-group-item-action active">Widok pracownika</a>
                <a href="#" class="list-group-item list-group-item-action">Księgowość</a>
                <a href="#" class="list-group-item list-group-item-action">Rejestracja</a>
                <a href="#" class="list-group-item list-group-item-action">Ustawienia</a>
            </div>

        </div><!--/ ASIDE - LEFT PANEL -->

        <!-- CONTENT - RIGHT PANEL -->
        <div class="py-5 bg-light" id="speakers">
            <div class="container-fluid" style="">
                <div class="row">
                    <div class="col-md-12">
                        <h1 align="center" >Pracownik<br></h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 col-lg-12" align="center">
                            <img th:src="@{/images/employee.png}" class="center-block img-fluid my-3 rounded-circle" width="300">
                            <div class="name">
                                <h3 id="first_name" align="center" style="color: #007bff; display:inline-block;">Ann</h3>
                                <h3 id="last_name" align="center" style="color: #007bff; display:inline-block;">Tylor</h3>
                            </div>
                            <p class="text-muted" align="center">księgowa</p>
                            <p id="active" align="center">aktywne</p>
                            <p id="email" align="center">ksiegowa@gmail.com</p>
                            <p id="password" align="center">*****</p>
                            <p id="phoneNumber" align="center">+48 692 499 643</p>
                            <p id="street" align="center">ul. Krzywa 8</p>
                            <div class="adress">
                                <p id="code" align="center" style="display:inline-block;">32-600</p>
                                <p id="city" align="center" style="display:inline-block;">Oświęcim</p>
                            </div>
                        <a class="btn btn-primary" href="#" align="center" >Edytuj</a>
                        <a class="btn btn-danger" href="#" align="center" >Usuń</a>
                    </div>

                </div>
            </div>
        </div><!--/ CONTENT - RIGHT PANEL -->

    </div>
</div>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>