
<div lang="en" th:replace="layout/header"> </div>

<div class="container-fluid " >
	<div class="row">

		<!-- ASIDE - LEFT PANEL -->
		<div class="col-sm-12 col-md-3 col-lg-3 aside">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Panel admina</li>
				</ol>
			</nav>

			<div class="list-group-flush">
				<a href="/admin/home" class="list-group-item list-group-item-action active">Panel</a>
				<a href="/admin/add_employee" class="list-group-item list-group-item-action">Dodaj pracownika</a>
				<a href="/admin/all_users" class="list-group-item list-group-item-action">Lista pracowników</a>
			</div>

			<div class="aside__currentUser">
				<p>Zalogowany jako:	<span class="badge badge-primary" th:utext="${userName}"></span></p>
				<form th:action="@{/logout}" method="get">
					<button class="btn btn-outline-danger btn-sm" name="registration"	type="Submit">Wyloguj</button>
				</form>
			</div>
		</div><!--/ ASIDE - LEFT PANEL -->

		<!-- CONTENT - RIGHT PANEL -->
		<div class="col-sm-12 col-md-9 col-lg-9 content">
			<h1> ADMIN PANEL</h1>

			<div class="card text-center border-light mt-3 mb-3">
				<div class="card-header">
					Powiadomienia
				</div>
				<div class="card-body">
					<h4 class="card-title">Witaj  <b th:utext="${userName}"></b> !</h4>
					<p class="card-text lead"> W panelu tym możesz zarządzać kancelarią, dodawaj nowych pracowników oraz nadzoruj prace firmy</p>
					<a href="/admin/all_users" class="btn btn-primary">Lista pracowników</a>
				</div>
			</div>

		</div><!--/ CONTENT - RIGHT PANEL -->

	</div>
</div>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>