<footer th:fragment="footer" class="footer ">
    <div class="container pt-5 pb-5">
        <div class="row pt-5">
            <div class="col-sm-12 col-md-6">
                <span class="text-muted">
                    <h3>Office management system</h3>
                    <p>Autorski system dla kancelari prawnej </p>

                </span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="list-group list-group-flush">
                    <a href="https://github.com/Dyzio18/office-management-system" target="_blank" class="list-group-item list-group-item-action">
                        Kod źródłowy</a>
                    <a href="https://github.com/Dyzio18/office-management-system/wiki" target="_blank"  class="list-group-item list-group-item-action">
                        FAQ - wiki</a>
                    <a href="https://github.com/Dyzio18/office-management-system/labels/bug" target="_blank" class="list-group-item list-group-item-action">
                        Zgłaszanie problemów</a>
                </div>
            </div>
        </div>
    </div>
</footer>
