.admin-message-text {
	 font-style: normal;
	 font-size: 22px;
	 color: #004080;
 }

/* Home Sidebar */
.list-group-flush > .active {
	background: #007bff !important;
	color: #fff;
	border-radius: 10px;
}

.aside > .list-group-flush > .list-group-item-action.active:hover {
	background: #0b1cff !important;
	color: #fff;
	border-radius: 10px;
	transition: .5s;
}

/* UNTILS */

.min-width-130{
	min-width: 130px;
}


/* SEARCH */
.searchInput {
	background-image: url('https://www.w3schools.com/css/searchicon.png '); /* https://www.w3schools.com/css/searchicon.png */
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
	margin-top: 12px;
}
