
<div lang="en" th:replace="layout/header"> </div>

<div class="container-fluid " >
    <div class="row">

        <!-- ASIDE - LEFT PANEL -->
        <div class="col-sm-12 col-md-3 col-lg-3 aside">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/recorder/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Panel rejestratora</li>
                </ol>
            </nav>

            <div class="list-group-flush">
                <a href="/recorder/home" class="list-group-item list-group-item-action ">Panel</a>
                <a href="/recorder/add_case" class="list-group-item list-group-item-action active">Dodaj sprawe</a>
                <a href="#" class="list-group-item list-group-item-action">Kalendarz</a>
                <a href="#" class="list-group-item list-group-item-action">Klienci</a>
                <a href="/recorder/cases" class="list-group-item list-group-item-action">Sprawy</a>
            </div>

            <div class="aside__currentUser">
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-outline-danger btn-sm" name="registration"	type="Submit">Wyloguj</button>
                </form>
            </div>
        </div><!--/ ASIDE - LEFT PANEL -->
        <!-- CONTENT - RIGHT PANEL -->
        <div class="col-sm-12 col-md-9 col-lg-9 content">
            <h1> Dodaj sprawe </h1>


        <!-- FORM name,surname, data,time, type,lawyerId, note, price-->
        <div class="col-md-12 col-md-offset-3">
            <form autocomplete="off"  th:action="@{/recorder/add_case}"  th:object="${item}"  method="post" class="form-horizontal" role="form">


                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{clientName}" placeholder="Nazwa"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('clientSurname')}" th:errors="*{clientSurname}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{clientSurname}" placeholder="Nazwisko"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('caseDate')}" th:errors="*{caseDate}"
                               class="validation-message"></label>
                        <input type="date" th:field="*{caseDate}" placeholder="Data"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('caseTime')}" th:errors="*{caseTime}"
                               class="validation-message"></label>
                        <input type="time" th:field="*{caseTime}" placeholder="Czas"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="number" th:field="*{lawyerId}" placeholder="Prawnik"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <textarea th:field="*{caseNote}" placeholder="Notatka"
                               class="form-control" > </textarea>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="number" th:field="*{casePrice}"
                               placeholder="Cena" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Dodaj usługę</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
        </div><!--/ CONTENT - RIGHT PANEL -->



    </div>
</div>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>