<div lang="en" th:replace="layout/header" xmlns:th="http://www.w3.org/1999/xhtml"> </div>

<div class="container-fluid " >
    <div class="row">

        <!-- ASIDE - LEFT PANEL -->
        <div class="col-sm-12 col-md-3 col-lg-3 aside">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/recorder/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Panel rejestratora</li>
                </ol>
            </nav>

            <div class="list-group-flush">
                <a href="/recorder/home" class="list-group-item list-group-item-action ">Panel</a>
                <a href="#" class="list-group-item list-group-item-action">Kalendarz</a>
                <a href="/recorder/clients" class="list-group-item list-group-item-action">Klienci</a>
                <a href="/recorder/client_new" class="list-group-item list-group-item-action">Dodaj klienta</a>
                <a href="/recorder/cases" class="list-group-item list-group-item-action">Sprawy</a>
            </div>

            <div class="aside__currentUser">
                <p>Zalogowany jako:	<span class="badge badge-primary" th:utext="${userName}"></span></p>
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-outline-danger btn-sm" name="registration"	type="Submit">Wyloguj</button>
                </form>
            </div>
        </div><!--/ ASIDE - LEFT PANEL -->
        <!-- CONTENT - RIGHT PANEL -->
        <div class="col-sm-12 col-md-9 col-lg-9 content">
            <h1> Dodaj sprawe </h1>


        <!-- FORM name,surname, data,time, type,lawyerId, note, price-->
        <div class="col-md-12 col-md-offset-3">
            <form autocomplete="off"  th:action="@{/recorder/add_case}"  th:object="${case}"  method="post" class="form-horizontal" role="form">

                <div class="lead mt-5 pl-2">
                    <p>Imie: <span th:text="${case.clientName}" class="h4"></span></p>
                    <p>Nazwisko: <span th:text="${case.clientSurname}" class="h4"></span></p>
                </div>
<!--
TO JEST DO ZMIANY! (FORMULARZ)
    TODO:
    Na podstawie Id klienta
    dodać sprawe do BD
    * Trzeba zmienić konstruktor sprawy by tam podawać ID (ewentualnie imie i nazwisko)
    * z kontrolera wtedy wysyłać model (z już zainicjowanym id klienta)
-->

                <div class="form-group">
                   <div class="col-sm-9">
                       <p>Imie klienta:</p>
                       <label th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"
                              class="validation-message"></label>
                       <input type="text" th:field="*{clientName}"  placeholder="Imie"
                              class="form-control" readonly />
                   </div>
               </div>

               <div class="form-group">
                   <div class="col-sm-9">
                       <p>Nazwisko klienta:</p>
                       <label th:if="${#fields.hasErrors('clientSurname')}" th:errors="*{clientSurname}"
                              class="validation-message"></label>
                       <input type="text" th:field="*{clientSurname}" placeholder="Nazwisko"
                              class="form-control" readonly />
                   </div>
               </div>



                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Rodzaj sprawy:</p>
                        <select th:field="*{caseType}"  class="form-control">
                            <option value="Kryminalna">Kryminalna</option>
                            <option value="Konsultacje">Konsultacje</option>
                            <option value="Porada prawna">Porada prawna</option>
                            <option value="Inne">Inne</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Data:</p>
                        <label th:if="${#fields.hasErrors('caseDate')}" th:errors="*{caseDate}"
                               class="validation-message"></label>
                        <input type="date" th:field="*{caseDate}" placeholder="Data"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Godzina:</p>
                        <label th:if="${#fields.hasErrors('caseTime')}" th:errors="*{caseTime}"
                               class="validation-message"></label>
                        <input type="time" th:field="*{caseTime}" placeholder="Czas"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Identyfikator adwokata:</p>
                        <input required type="number" th:field="*{lawyerId}" placeholder="Prawnik"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Notatka:</p>
                        <textarea th:field="*{caseNote}" placeholder="Notatka"
                               class="form-control" > </textarea>

                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Dodaj sprawę</button>
                    </div>
                </div>

                <div class="alert-primary" role="alert">
                    <span th:utext="${successMessage}"></span>
                </div>

            </form>
        </div><!--/ CONTENT - RIGHT PANEL -->



    </div>
</div>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>