
<div lang="en" th:replace="layout/header"> </div>

<div class="container-fluid " >
    <div class="row">

        <!-- ASIDE - LEFT PANEL -->
        <div class="col-sm-12 col-md-3 col-lg-3 aside">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/recorder/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Panel rejestratora</li>
                </ol>
            </nav>

            <div class="list-group-flush">
                <a href="/recorder/home" class="list-group-item list-group-item-action ">Panel</a>
                <a href="#" class="list-group-item list-group-item-action">Kalendarz</a>
                <a href="/recorder/clients" class="list-group-item list-group-item-action active">Klienci</a>
                <a href="/recorder/client_new" class="list-group-item list-group-item-action">Dodaj klienta</a>
                <a href="/recorder/cases" class="list-group-item list-group-item-action">Sprawy</a>
            </div>

            <div class="aside__currentUser">

                <p>Zalogowany jako:	<span class="badge badge-primary" th:utext="${userName}"></span></p>
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-outline-danger btn-sm" name="registration"	type="Submit">Wyloguj</button>
                </form>
            </div>
        </div><!--/ ASIDE - LEFT PANEL -->

        <!-- CONTENT - RIGHT PANEL -->
        <div class="col-sm-12 col-md-9 col-lg-9 content">
            <h1> PANEL REJESTRATORA</h1>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label for="searchInput">Wyszukaj nazwisko</label>
                    <input class="searchInput" type="text" id="searchInput" onkeyup="search(2)" placeholder="Wyszukaj nazwisko" >
                </div>
                <div class="col-sm-12 col-md-3">
                    <label for="searchInput2">Wyszukaj numer telefonu</label>
                    <input class="searchInput" type="text" id="searchInput2" onkeyup="search(3)" placeholder="Wyszukaj numer telefonu" >
                </div>
            </div>

            <h2>Klienci</h2>
            <a href="/recorder/client_new" class="btn btn-sm" >Dodaj nowego klienta</a>

            <!--list of clients SHOW CLIENT / ADD CASE-->
            <div class="table-responsive">
                <table id="caseTable" class="table table-striped table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>Nr. telefonu</th>
                        <th>#</th>
                        <th>#</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client: ${listOfClients}">
                        <td th:text="${client.id}"></td>
                        <td th:text="${client.c_name}"></td>
                        <td th:text="${client.c_surname}"></td>
                        <td th:text="${client.c_phone}"></td>
                        <td><a href="#" th:href="@{|client_show/${client.id}|}">Pokaż</a></td>
                        <td><a href="#" th:href="@{|client_show/${client.id}/add_case|}">Dodaj sprawe</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div><!--/ CONTENT - RIGHT PANEL -->



    </div>
</div>

<script>
    function search(column) {
        var input, input2, filter, table, tr, td, i;
        input = document.getElementById("searchInput");
        input2 = document.getElementById("searchInput2");

        filter = input.value.toUpperCase() || input2.value.toUpperCase();
        table = document.getElementById("caseTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[column];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>